body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #222;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #222;
}

ul {
  list-style: square;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #ddd;
}
